<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_CancelOrder
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="bss" translate="label" sortOrder="300"> 
			<label><![CDATA[Bss Commerce]]></label> 
		</tab> 
		<section id="bss_cancelorder" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
			<label><![CDATA[Frontend Cancel Order]]></label>
			<tab>bss</tab>
			<resource>Bss_CancelOrder::config_cancelorder</resource>
			<group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label><![CDATA[Cancel Order Config Setting]]></label>
				<field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label><![CDATA[Enabled]]></label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Choose 'Yes' to enable module.<br>Version 1.0.4]]></comment>
				</field>
				<field id="email_sender" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
					<label><![CDATA[Email Sender]]></label>
					<source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
				</field>
				<field id="email_received" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
					<label><![CDATA[Email address to receive notifications.]]></label>
				</field>
				<field id="email_template" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
					<label><![CDATA[Email Template]]></label>
					<source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
				</field>
				<field id="notice" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
					<label><![CDATA[Notice note when customers click cancel orders.]]></label>
				</field>
				<field id="button_label" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
					<label><![CDATA[Label for button 'cancel order']]></label>
				</field>
			</group>
		</section>
	</system>
</config>
