<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="codextracharge" frontName="codextracharge">
            <module name="Emipro_CodExtracharge" before="Magento_Backend"/>
        </route>
    </router>
</config>
