<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::marketing">
                    <resource id="Emipro_CodExtracharge::Manage" title="Emipro - Manage Cash On Delivery Rules" sortOrder="10">
                        <resource id="Emipro_CodExtracharge::grid" title="Manage Cash On Delivery Rules" sortOrder="30" />
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Emipro_CodExtracharge::configuration" title="Emipro - CodExtracharge"/>
                        </resource>
                    </resource>
            </resource>
            </resource>
        </resources>
    </acl>
</config>
