<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_PromoCountdown
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="amasty_countdown" translate="label" type="text" sortOrder="161803" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Promotion Countdown</label>
            <tab>amasty</tab>
            <resource>Amasty_PromoCountdown::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable Promo Countdown</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <backend_model>Amasty\PromoCountdown\Model\Config\Backend\FlagSave</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
